/*Estilos básicos*/
body{
    background-color:#FFDCDC;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
     font-style: normal;
}
/* Estilo del header  */
header{
    background-color: #db2d67;
    color: #F6FFDC;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;

}
nav{
   background-color: #4b0528;
   padding: 0 16px; 
}
nav li a{
    color:#bb226c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 8px;
}
nav ul{
    display:flex;
    list-style: none;
    margin:0;
    padding:0;
    gap: 20px;
    align-items: center;
}
nav li a:hover{
    background-color:#FFC0DE;
    color:#E3AFC9;
    border-radius: 10px;
}
.pie{
    background-color: #dc7ead;
    color: #FFC0DE;
    border-radius: 5px;
}
footer{
    display: flex;
    flex-direction: row-reverse;
}
footer article{
width:33%;
margin:10px;
padding: 10px;
text-align: center;
font-size: 20px;
border: 10px solid transparent;
border-image: url( '../img/border.png') 30 round;
}

/*Estilos para el formulario*/
legend{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #E3AFC9;
    text-align: center;
}
fieldset{
    border: #E3AFC9 double;
    
}
label{
    font-weight: bold;
    margin: 10px;
}
#dregistro{
    float: right;
}
#datos_user{
    display: flex;
    flex-direction: column;
}
#nombre_completo{
    display: flex;
    flex-direction: row;

}

#nombre_completo div{
    width: 33.3%;
    margin: 10px;
    text-align: left;
}
#otros_datos{
    display: flex;
    flex-direction: row;

}

#otros_datos div{
    flex-wrap: wrap;
    padding: 10px;
}
.gallito{
    padding: 10px;
}
#boton{
    background-color: #dc7ead;
    color: #E3AFC9;
    width: 100%;
    height: 25px;
    
}
#boton:hover{
    background-color: #F6FFDC;
    color: #4b0528;
}
input[type="password"]{
    -webkit-tex-security:square;
    
}
